In [1]:
import pandas a
s pd

In [3]:
df=pd.read_csv('Churn_Modelling.csv')

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
y=df.iloc[:,-1]

In [7]:
x=df.iloc[:,3:-1]

In [9]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
5,645,Spain,Male,44,8,113755.78,2,1,0,149756.71
6,822,France,Male,50,7,0.00,2,1,1,10062.80
7,376,Germany,Female,29,4,115046.74,4,1,0,119346.88
8,501,France,Male,44,4,142051.07,2,0,1,74940.50
9,684,France,Male,27,2,134603.88,1,1,1,71725.73
10,528,France,Male,31,6,102016.72,2,0,0,80181.12
11,497,Spain,Male,24,3,0.00,2,1,0,76390.01
12,476,France,Female,34,10,0.00,2,1,0,26260.98
13,549,France,Female,25,5,0.00,2,0,0,190857.79
14,635,Spain,Female,35,7,0.00,2,1,1,65951.65
15,616,Germany,Male,45,3,143129.41,2,0,1,64327.26
16,653,Germany,Male,58,1,132602.88,1,1,0,5097.67
17,549,Spain,Female,24,9,0.00,2,1,1,14406.41
18,587,Spain,Male,45,6,0.00,1,0,0,158684.81
19,726,France,Female,24,6,0.00,2,1,1,54724.03
20,732,France,Male,41,8,0.00,2,1,1,170886.17
21,636,Spain,Female,32,8,0.00,2,1,0,138555.46
22,510,Spain,Female,38,4,0.00,1,1,0,118913.53
23,669,France,Male,46,3,0.00,2,0,1,8487.75
24,846,France,Female,38,5,0.00,1,1,1,187616.16
25,577,France,Male,25,3,0.00,2,0,1,124508.29
26,756,Germany,Male,36,2,136815.64,1,1,1,170041.95
27,571,France,Male,44,9,0.00,2,0,0,38433.35
28,574,Germany,Female,43,3,141349.43,1,1,1,100187.43
29,411,France,Male,29,0,59697.17,2,1,1,53483.21
...,...,...,...,...,...,...,...,...,...,...
9970,518,France,Male,42,7,151027.05,2,1,0,119377.36
9971,833,France,Female,34,3,144751.81,1,0,0,166472.81
9972,758,France,Male,26,4,155739.76,1,1,0,171552.02
9973,611,France,Male,27,7,0.00,2,1,1,157474.10
9974,583,France,Male,33,7,122531.86,1,1,0,13549.24
9975,610,Germany,Male,50,1,113957.01,2,1,0,196526.55
9976,637,France,Female,33,7,103377.81,1,1,0,84419.78
9977,683,France,Female,32,9,0.00,2,1,1,24991.92
9978,774,France,Male,40,9,93017.47,2,1,0,191608.97
9979,677,France,Female,58,1,90022.85,1,0,1,2988.28
9980,741,Spain,Male,35,6,74371.49,1,0,0,99595.67
9981,498,Germany,Male,42,3,152039.70,1,1,1,53445.17
9982,655,Germany,Female,46,7,137145.12,1,1,0,115146.40
9983,613,France,Male,40,4,0.00,1,0,0,151325.24
9984,602,Germany,Male,35,7,90602.42,2,1,1,51695.41
9985,659,France,Male,36,6,123841.49,2,1,0,96833.00
9986,673,Germany,Male,47,1,183579.54,2,0,1,34047.54
9987,606,Spain,Male,30,8,180307.73,2,1,1,1914.41
9988,775,France,Male,30,4,0.00,2,1,0,49337.84
9989,841,Spain,Male,28,4,0.00,2,1,1,179436.60
9990,714,Germany,Male,33,3,35016.60,1,1,0,53667.08
9991,597,France,Female,53,4,88381.21,1,1,0,69384.71
9992,726,Spain,Male,36,2,0.00,1,1,0,195192.40
9993,644,France,Male,28,7,155060.41,1,1,0,29179.52
9994,800,France,Female,29,2,0.00,2,0,0,167773.55
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [11]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [15]:
labelencoder_X_geo =LabelEncoder()

In [18]:
x.iloc[:,1]=labelencoder_X_geo.fit_transform(x.iloc[:,1])

In [20]:
labelencoder_X_gen =LabelEncoder()

In [21]:
x.iloc[:,2]=labelencoder_X_gen.fit_transform(x.iloc[:,2])

In [22]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10
5,645,2,1,44,8,113755.78,2,1,0,149756.71
6,822,0,1,50,7,0.00,2,1,1,10062.80
7,376,1,0,29,4,115046.74,4,1,0,119346.88
8,501,0,1,44,4,142051.07,2,0,1,74940.50
9,684,0,1,27,2,134603.88,1,1,1,71725.73
10,528,0,1,31,6,102016.72,2,0,0,80181.12
11,497,2,1,24,3,0.00,2,1,0,76390.01
12,476,0,0,34,10,0.00,2,1,0,26260.98
13,549,0,0,25,5,0.00,2,0,0,190857.79
14,635,2,0,35,7,0.00,2,1,1,65951.65
15,616,1,1,45,3,143129.41,2,0,1,64327.26
16,653,1,1,58,1,132602.88,1,1,0,5097.67
17,549,2,0,24,9,0.00,2,1,1,14406.41
18,587,2,1,45,6,0.00,1,0,0,158684.81
19,726,0,0,24,6,0.00,2,1,1,54724.03
20,732,0,1,41,8,0.00,2,1,1,170886.17
21,636,2,0,32,8,0.00,2,1,0,138555.46
22,510,2,0,38,4,0.00,1,1,0,118913.53
23,669,0,1,46,3,0.00,2,0,1,8487.75
24,846,0,0,38,5,0.00,1,1,1,187616.16
25,577,0,1,25,3,0.00,2,0,1,124508.29
26,756,1,1,36,2,136815.64,1,1,1,170041.95
27,571,0,1,44,9,0.00,2,0,0,38433.35
28,574,1,0,43,3,141349.43,1,1,1,100187.43
29,411,0,1,29,0,59697.17,2,1,1,53483.21
...,...,...,...,...,...,...,...,...,...,...
9970,518,0,1,42,7,151027.05,2,1,0,119377.36
9971,833,0,0,34,3,144751.81,1,0,0,166472.81
9972,758,0,1,26,4,155739.76,1,1,0,171552.02
9973,611,0,1,27,7,0.00,2,1,1,157474.10
9974,583,0,1,33,7,122531.86,1,1,0,13549.24
9975,610,1,1,50,1,113957.01,2,1,0,196526.55
9976,637,0,0,33,7,103377.81,1,1,0,84419.78
9977,683,0,0,32,9,0.00,2,1,1,24991.92
9978,774,0,1,40,9,93017.47,2,1,0,191608.97
9979,677,0,0,58,1,90022.85,1,0,1,2988.28
9980,741,2,1,35,6,74371.49,1,0,0,99595.67
9981,498,1,1,42,3,152039.70,1,1,1,53445.17
9982,655,1,0,46,7,137145.12,1,1,0,115146.40
9983,613,0,1,40,4,0.00,1,0,0,151325.24
9984,602,1,1,35,7,90602.42,2,1,1,51695.41
9985,659,0,1,36,6,123841.49,2,1,0,96833.00
9986,673,1,1,47,1,183579.54,2,0,1,34047.54
9987,606,2,1,30,8,180307.73,2,1,1,1914.41
9988,775,0,1,30,4,0.00,2,1,0,49337.84
9989,841,2,1,28,4,0.00,2,1,1,179436.60
9990,714,1,1,33,3,35016.60,1,1,0,53667.08
9991,597,0,0,53,4,88381.21,1,1,0,69384.71
9992,726,2,1,36,2,0.00,1,1,0,195192.40
9993,644,0,1,28,7,155060.41,1,1,0,29179.52
9994,800,0,0,29,2,0.00,2,0,0,167773.55
9995,771,0,1,39,5,0.00,2,1,0,96270.64
9996,516,0,1,35,10,57369.61,1,1,1,101699.77
9997,709,0,0,36,7,0.00,1,0,1,42085.58
9998,772,1,1,42,3,75075.31,2,1,0,92888.52
9999,792,0,0,28,4,130142.79,1,1,0,38190.78

In [37]:
onehotencoder_geo=OneHotEncoder(categorical_features=[1]) #position 1

In [38]:
X=onehotencoder_geo.fit_transform(x).toarray() # to convert numpy as sklearn uses numpy

/usr/local/lib64/python3.6/site-packages/sklearn/preprocessing/_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib64/python3.6/site-packages/sklearn/preprocessing/_encoders.py:392: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [39]:
X=X[:,1:]   #here X is numpy array
            # use iloc in dataframe

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=42)

In [42]:
from keras .models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [43]:
classifier=Sequential()

In [44]:
X.shape   # has 11 features

(10000, 11)

In [61]:
# single hidden layer #
classifier.add(Dense(units=6,input_shape=(11,),activation='relu'))
#11+1/2=6 generally
#relu when output is more like 5 or 6
# second hidden layer #
#outut or first and second layer is given genrally input+output/2(11+1/2)
classifier.add(Dense(units=6,activation='relu'))
# third hidden layer #
classifier.add(Dense(units=1,activation='sigmoid'))

In [48]:
from keras.optimizers import Adam,SGD

In [64]:
classifier.compile(Adam(lr=0.5),loss="binary_crossentropy",metrics=['accuracy'])

In [65]:
classifier.fit(X_train,y_train,epochs=10)

Epoch 1/10
7000/7000 [==============================] - 1s 175us/step - loss: 0.5251 - acc: 0.7924
Epoch 2/10
7000/7000 [==============================] - 0s 65us/step - loss: 0.5215 - acc: 0.7924
Epoch 3/10
7000/7000 [==============================] - 0s 64us/step - loss: 0.5234 - acc: 0.7924
Epoch 4/10
7000/7000 [==============================] - 0s 63us/step - loss: 0.5206 - acc: 0.7924
Epoch 5/10
7000/7000 [==============================] - 0s 63us/step - loss: 0.5231 - acc: 0.7924
Epoch 6/10
7000/7000 [==============================] - 0s 64us/step - loss: 0.5231 - acc: 0.7924
Epoch 7/10
7000/7000 [==============================] - 0s 67us/step - loss: 0.5252 - acc: 0.7924
Epoch 8/10
7000/7000 [==============================] - 0s 69us/step - loss: 0.5342 - acc: 0.7910
Epoch 9/10
7000/7000 [==============================] - 0s 66us/step - loss: 0.5208 - acc: 0.7924
Epoch 10/10
7000/7000 [==============================] - 0s 68us/step - loss: 0.5167 - acc: 0.7924

In [66]:
y_pred=classifier.predict(X_test)

In [71]:
y_pred=(y_pred >0.5)

In [72]:
y_pred     #27 percent for not leaving

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [73]:
 from sklearn.metrics import confusion_matrix

In [74]:
confusion_matrix(y_test,y_pred)

array([[2416,    0],
       [ 584,    0]])

In [75]:
2416/(2416+584)

0.8053333333333333